<footer class="navbar nav-bg-color">
    <div class="footer-link">
        <a href="https://leparchemin.org/index.php/mentions-legales/" target="_blank">Mentions légales</a> - 
        <a href="https://leparchemin.org/index.php/lassociation/" target="_blank">Qui sommes nous ?</a> -
        <a href="https://leparchemin.org/index.php/contact/" target="_blank">Nous contacter</a> -
        <a href="https://fr-fr.facebook.com/ressourcerie11/" target="_blank">Facebook</a>
    </div>
</footer>